tbody tr:hover{
    transition: all .3s;
}

tbody tr:hover{
    background: rgb(32, 178, 110);
    color: white;
}

table {
    width: 98%;
    margin: auto;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
    text-align: center;
}
