tbody tr:hover{
    transition: all .3s;
}

tbody tr:hover{
    background: rgb(32, 178, 110);
    color: white;
}

table{
    width: 98%;
    margin: auto;
    margin-top: 1.3em;
    border-radius: 3px;
    box-shadow: -3px -3px 15px gray;
}

thead {
    border-bottom: 5px solid cornflowerblue;
}

.ricerca{
    width: 90%;
    margin: auto;
    margin-top: 1em;
}