*{
    transition: all .2s;
}

.priorita-cell:hover{
    
    color: orange;
    font-size: 110%;
    cursor: pointer;
}

.produzione tr:hover{
    background: rgb(165, 226, 165);
}

.concludi-cell:hover{
    color: red;
    font-size: 110%;
    cursor: pointer;
}