<div>
  Ricerca Produzione <input type="text" [(ngModel)]="_query"/>
</div>

<table class="table table table-striped">
  <thead>
    <tr>
      <th scope="col">Codice Produzione</th>
      <th scope="col">Nome Lavorazione</th>
      <th scope="col">Target</th>
      <th scope="col">Prodotti</th>
      <th scope="col">Priorità</th>
      <th scope="col">Data Inizio Produzione</th>
      <th scope="col">Inizia Produzione</th>
      <th scope="col">Conludi</th>
    </tr>
  </thead>
  <tbody class="produzione">
    <tr *ngFor="let p of _produzioni">
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.CODICE_PRODUZIONE}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.NOME_LAVORAZIONE }}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.TARGET}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.PRODOTTI}}</td>
      <td  class="priorita-cell" *ngIf="p.CODICE_PRODUZIONE.includes(_query)" (click)="cambiaPriorita(p)">{{p.PRIORITA}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.DATA_INIZIO || 'Non Iniziata'}}</td>
      <td  class="inizia-cell" *ngIf="p.CODICE_PRODUZIONE.includes(_query)" (click)="iniziaProduzione(p)"><fa name="right"></fa> </td>
      <td  class="concludi-cell" *ngIf="p.CODICE_PRODUZIONE.includes(_query)" (click)="chiudiProduzione(p)"><fa name="times"></fa> </td>
    </tr>
  </tbody>
</table>



<div class="produzione">
  <div class="wrapper-produzione">

    Codice Produzione : <input type="text" [(ngModel)]="_produzione.CODICE_PRODUZIONE" placeholder="">
    Lavorazione : 
    <select [(ngModel)]="_produzione.LAVORAZIONE_ID">
      <option *ngFor="let l of _lavorazioni" [value]="l.LAVORAZIONE_ID">{{l.NAME}}</option>
    </select>  
    Target : <input type="number" [(ngModel)]="_produzione.TARGET" placeholder="">
    Priorità : <input type="number" [(ngModel)]="_produzione.PRIORITA" placeholder="">

  </div>

  <div class="wrapper-opzioni">
    <button class="btn btn-primary" (click)="aggiungiProduzione()" [disabled]="enableAggiungiProduzione()">Aggiungi Nuova Produzione</button>
  </div>
</div>