*{
    transition: all .2s;
}

.produzione tr:hover{
    background: rgb(165, 226, 165);
}

.priorita-cell:hover{
    background: rgb(128, 206, 154);
    color: forestgreen;
    cursor: pointer;
}


.concludi-cell:hover{
    background:rgb(128, 206, 154);
    color: red;
    cursor: pointer;
}