<div class="mt-2">
  Ricerca Produzione per CODICE <input type="text" [(ngModel)]="_query"/>
</div>

<table class="table table-striped mt-2">
  <thead>
    <tr>
      <th scope="col">Codice Produzione</th>
      <th scope="col">Nome Lavorazione</th>
      <th scope="col">Target</th>
      <th scope="col">Prodotti</th>
      <th scope="col">Data Inizio</th>
      <th scope="col">Data Consuntivazione</th>
    </tr>
  </thead>
  <tbody class="produzione">
    <tr *ngFor="let p of _produzioni">
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.CODICE_PRODUZIONE}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.NOME_LAVORAZIONE }}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.TARGET}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.PRODOTTI}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.DATA_INIZIO | date:'dd/MM/yy - hh:mm:ss'}}</td>
      <td *ngIf="p.CODICE_PRODUZIONE.includes(_query)">{{p.DATA_CONSUNTIVAZIONE | date:'dd/MM/yy - hh:mm:ss'}}</td>
    </tr>
  </tbody>
</table>