<div>
  Ricerca Lavorazione <input type="text" [(ngModel)]="_query"/>
</div>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Nome Lavorazione</th>
      <th>Data Ultima Modifica</th>
      <th>Velocità della lama [m/min]</th>
      <th>Lunghezza pezzo [mm]</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of _lavorazioni" (click)="selectLavorazione(p)">
      <td *ngIf="p.NAME.includes(_query)">{{p.NAME}}</td>
      <td *ngIf="p.NAME.includes(_query)">{{p.DATA_CREAZIONE | date:'dd-MM-yyyy HH:mm'}}</td>
      <td *ngIf="p.NAME.includes(_query)">{{p.VELOCITA_LAMA_SP}}</td>
      <td *ngIf="p.NAME.includes(_query)">{{p.LUNGHEZZA_TAGLIO}}</td>
    </tr>
  </tbody>
</table>

<div class="dettaglio-lavorazione">
  <div class="wrapper-lavorazione">

    Nome Lavorazione : <input type="text" [(ngModel)]="_lavorazione.NAME" placeholder="">
    Velocità della lama [m/min]:  <input type="number" [(ngModel)]="_lavorazione.VELOCITA_LAMA_SP" placeholder="">
    Lunghezza pezzo [mm]: <input type="number" [(ngModel)]="_lavorazione.LUNGHEZZA_TAGLIO" placeholder="">

  </div>

  <div class="wrapper-opzioni">
    <button class="btn btn-primary" (click)="modificaLavorazione()">Salva Modifiche</button>
    <button class="btn btn-success" [disabled]="nomeRicettaEsistente()" (click)="creaNuovaLavorazione()">Crea nuova Lavorazione</button>
    <button class="btn btn-warning" (click)="eliminaLavorazione()">Elimina</button>
  </div>
</div>